<h2 class="text-center">My Heroes</h2>

<div class="my-5">
  <div class="container">
    <div *ngIf="selectedHeroes.length > 0">
      <div class="mb-4 tag-form">
        <label for="" class="mb-1">Add tags</label>
        <tag-input
          [disable]="true"
          [modelAsStrings]="true"
          #input1
          placeholder="Enter a new tags"
          secondaryPlaceholder="Enter a new tags"
          ><ng-template item-template let-item="item" let-index="index">
            <span class="tag" (click)="input1.removeItem(item, index)"
              >#{{ item }} x</span
            >
          </ng-template>
        </tag-input>
        <button
          type="button"
          (click)="addTagsToHeroes()"
          class="btn btn-success"
        >
          Save
        </button>
      </div>
      <div class="mb-4 tag-form">
        <label for="" class="mb-1">Delete tags</label>
        <tag-input
          [(ngModel)]="selectedTags"
          (onRemove)="onRemove($any($event))"
          [modelAsStrings]="true"
          [hideForm]="true"
          #input2
          placeholder="Delete tags of heroes"
          secondaryPlaceholder="Delete tags of heroes"
          ><ng-template item-template let-item="item" let-index="index">
            <span class="tag" (click)="input2.removeItem(item, index)"
              >#{{ item }} x</span
            >
          </ng-template>
        </tag-input>
        <p class="card-text" *ngIf="selectedTags!.length === 0">No tags</p>
        <button
          type="button"
          (click)="deleteTagsFromHeroes()"
          class="btn btn-light"
        >
          Save
        </button>
      </div>
    </div>
    <div class="row row-cols-4 gy-3">
      <div class="col" *ngFor="let hero of heroes">
        <div (click)="onSelected(hero)">
          <app-hero-card [hero]="hero"></app-hero-card>
        </div>
      </div>
    </div>

    <app-hero-form [heroes]="heroes"></app-hero-form>
  </div>
</div>
