<h4 class="text-center my-4">My Heroes</h4>

<div class="my-5">
  <div class="container">
    <div *ngIf="selectedHeroes.length > 0">
      <div class="mb-4 tag-form">
        <label for="" class="mb-1">Add tags</label>
        <tag-input
          [(ngModel)]="tagsToAdd"
          [modelAsStrings]="true"
          #input1
          placeholder="Enter a new tags"
          secondaryPlaceholder="Enter a new tags"
          ><ng-template item-template let-item="item" let-index="index">
            <span class="tag" (click)="input1.removeItem(item, index)"
              >#{{ item }} x</span
            >
          </ng-template>
        </tag-input>
        <button
          type="button"
          (click)="addTagsToHeroes()"
          class="btn btn-success"
        >
          Save
        </button>
      </div>
      <div class="mb-4 tag-form">
        <label for="" class="mb-1">Delete tags</label>
        <tag-input
          [(ngModel)]="selectedTags"
          (onRemove)="onRemove($any($event))"
          [modelAsStrings]="true"
          [hideForm]="true"
          #input2
          placeholder="Delete tags of heroes"
          secondaryPlaceholder="Delete tags of heroes"
          ><ng-template item-template let-item="item" let-index="index">
            <span class="tag" (click)="input2.removeItem(item, index)"
              >#{{ item }} x</span
            >
          </ng-template>
        </tag-input>
        <p class="card-text" *ngIf="selectedTags!.length === 0">No tags</p>
        <button
          type="button"
          (click)="deleteTagsFromHeroes()"
          class="btn btn-light"
        >
          Save
        </button>
      </div>
    </div>
    <button
      type="button"
      class="btn btn-light d-flex m-auto mb-3"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
      *ngIf="heroes.length > 0"
    >
      New hero
    </button>
    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <app-hero-form [heroes]="heroes"></app-hero-form>
        </div>
      </div>
    </div>

    <div
      class="row row-cols-4 gy-3 mb-4 justify-content-center"
      *ngIf="heroes.length > 0"
    >
      <div class="col" *ngFor="let hero of heroes">
        <div
          (click)="onSelected(hero)"
          class="hero-card-wrapper"
          [class.selected]="hero.selected"
        >
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"
            [attr.checked]="hero.selected ? 'checked' : null"
          />
          <app-hero-card [hero]="hero"> </app-hero-card>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="heroes.length == 0" class="d-flex justify-content-center">
  <div class="bg-body-tertiary rounded col-2">
    <img
      src="../../../assets//images/hero-avt.webp"
      class="card-img-top avatar-hero p-3"
      alt=""
    />
    <div class="card-body text-center" for="checkbox">
      <h5 class="card-title">Add your hero now</h5>
      <button
        class="btn btn-primary mt-4"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        + Add hero
      </button>
    </div>
  </div>
</div>
