<h2 class="text-center">My Heroes</h2>

<app-hero-form [heroes]="heroes"></app-hero-form>

<div class="container text-center">
  <div class="row">
    <div class="col">
      <ul class="list-group mb-4 d-flex mx-auto">
        <div class="form-check ps-0">
          <h4>List Heroes</h4>
          <li
            *ngFor="let hero of heroes"
            class="list-group-item d-flex justify-content-between"
          >
            <a
              routerLink="/heroes/{{ hero._id }}"
              class="text-decoration-none flex-row"
              for="flexCheckChecked"
            >
              <h5 class="d-flex my-2">{{ hero.name | capitalize }}</h5>
              <tag-input
                [ngModel]="hero.tags"
                [removable]="false"
                [hideForm]="true"
                *ngIf="hero.tags!.length > 0"
              >
                <ng-template item-template let-item="item" let-index="index">
                  <span class="tag">#{{ item }} </span>
                </ng-template>
              </tag-input>
              <span *ngIf="hero.tags!.length === 0"> No tags </span>
            </a>
          </li>
        </div>
      </ul>
    </div>
    <div class="col">
      <div>
        <!-- Add tags -->
        <div class="mb-4">
          <h5 class="text-center">Select heroes for add tags</h5>
          <tag-input
            (onAdd)="onAddToAddHeroes($any($event))"
            (onRemove)="onRemoveToAddHeroes($any($event))"
            [(ngModel)]="heroObjectAdd"
            [editable]="true"
            [identifyBy]="'id'"
            [displayBy]="'name'"
            placeholder="Enter heroes"
            secondaryPlaceholder="Enter heroes"
            [onlyFromAutocomplete]="true"
          >
            <tag-input-dropdown
              [showDropdownIfEmpty]="true"
              [autocompleteObservable]="requestAutocompleteHeroes"
              [identifyBy]="'_id'"
              [displayBy]="'name'"
            >
              >
            </tag-input-dropdown>
          </tag-input>
        </div>

        <tag-input [(ngModel)]="tags" [modelAsStrings]="true" #input1
          ><ng-template
            item-template
            let-item="item"
            let-index="index"
            (click)="input1.removeItem(item, index)"
          >
            <span>#{{ item }} x</span>
            <!-- <span
              (click)="input1.removeItem(item, index)"
              class="ng2-tag__remove-button"
            >
              x
            </span> -->
          </ng-template>
        </tag-input>

        <button
          type="button"
          (click)="addTagsToHeroes()"
          class="btn btn-primary"
        >
          Add tags
        </button>

        <!-- Delete tags for heroes -->

        <div class="mb-4">
          <h5 class="text-center mt-4">Select heroes for remove tags</h5>
          <tag-input
            (onAdd)="onAddToRemoveHeroes($any($event))"
            (onRemove)="onRemoveToRemoveHeroes($any($event))"
            [(ngModel)]="heroObjectRemove"
            [editable]="true"
            [identifyBy]="'id'"
            [displayBy]="'name'"
            placeholder="Enter heroes"
            secondaryPlaceholder="Enter heroes"
            [onlyFromAutocomplete]="true"
          >
            <tag-input-dropdown
              [showDropdownIfEmpty]="true"
              [autocompleteObservable]="requestAutocompleteHeroes"
              [identifyBy]="'_id'"
              [displayBy]="'name'"
            >
              >
            </tag-input-dropdown>
          </tag-input>
        </div>

        <tag-input
          [(ngModel)]="selectedTags"
          (onRemove)="onRemoveToRemoveTags($any($event))"
          [modelAsStrings]="true"
          #input2
          placeholder="Edit tags of heroes"
          secondaryPlaceholder="Tags"
          ><ng-template
            item-template
            let-item="item"
            let-index="index"
            (click)="input2.removeItem(item, index)"
          >
            <span>#{{ item }} x</span>
            <!-- <span
              (click)="input2.removeItem(item, index)"
              class="ng2-tag__remove-button"
            >
              x
            </span> -->
          </ng-template>
        </tag-input>

        <button
          type="button"
          (click)="deleteTagsFromHeroes()"
          class="btn btn-danger"
        >
          Save tags
        </button>
      </div>
    </div>
  </div>
</div>
<!-- 
<div *ngIf="heroes.length === 0" class="text-center">
  <h4>No hero found</h4>
</div> -->
