@import "~bootstrap/dist/css/bootstrap.min.css";
@import "./toast.css";

Application-wide Styles h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2,
h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin-left: 2em;
  margin-right: 2em;
}
body,
input[type="text"],
button {
  color: #333;
  font-family: Cambria, Georgia, serif;
}
button {
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.5rem 0.75rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight: 500 !important;
}

button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

button + button {
  margin-left: 1rem;
}

* {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif !important;
  --color-primary: #0d6efd;
  --danger: #e14747;
}

h2 {
  font-weight: 600;
}

label {
  font-weight: 500;
}

/* Tag input component */
.ng-tns-c62-6 {
  cursor: pointer !important;
}

.tag {
  display: flex;
  align-items: center;
  height: 28px;
}

.tag__text {
  display: flex !important;
  align-items: center !important;
  height: 28px !important;
}

.tag-form:has(.ng2-tag-input__text-input) .ng2-tag-input__text-input {
  text-align: center;
}

.avatar {
  width: 40px;
  height: 100%;
  margin-right: 10px;
}

.card:has(.ng2-tags-container) .ng2-tags-container {
  justify-content: center;
  cursor: default;
}

.text-error {
  color: var(--danger);
}
