<div class="mb-3 col-2 mx-auto my-4 position-relative">
  <h4 class="text-center mb-4">Hero Search</h4>
  <input
    type="text"
    class="form-control"
    placeholder="Name"
    #searchBox
    (input)="search(searchBox.value)"
  />

  <ul
    class="list-group mt-2 position-absolute col-2 mx-auto shadow mb-5 bg-body rounded w-100"
  >
    <a
      *ngFor="let hero of heroes$ | async"
      routerLink="/heroes/{{ hero._id }}"
      class="text-decoration-none px-2 mb-2"
    >
      <li>
        <img class="avatar" src="../../../assets/images/hero-avt.webp" alt="" />
        <a
          routerLink="/heroes/{{ hero._id }}"
          class="text-decoration-none w-100"
        >
          {{ hero.name | capitalize }}
        </a>
      </li>
    </a>
  </ul>
</div>
