.list-group {
  z-index: 9;
}

.list-group-item {
  border-radius: 5px;
}

a:first-child {
  margin-top: 8px;
}

a:last-child {
  margin-bottom: 8px;
}

li {
  list-style: none;
  color: black;
}

li:hover {
  background: rgb(240, 240, 240);
  border-radius: 5px;
}