.list-group {
  z-index: 9;
}

.list-group-item {
  border-radius: 5px;
}

a:first-child {
  margin-top: 8px;
}

li {
  list-style: none;
  padding: 5px;
  color: black;
}

li:hover {
  background: rgb(250, 250, 250);
  border-radius: 5px;
}
