<div class="mb-3 col-2">
  <label for="formGroupExampleInput" class="form-label">Hero Search</label>
  <input
    type="text"
    class="form-control"
    id="formGroupExampleInput"
    placeholder="Name"
    #searchBox
    (input)="search(searchBox.value)"
  />
  
  <ul class="list-group mt-4">
    <li
      class="list-group-item list-group-item-action"
      *ngFor="let hero of heroes$ | async"
    >
      <a routerLink="/heroes/detail/{{ hero._id }}" class="text-decoration-none">
        {{ hero.name | capitalize }}
      </a>
    </li>
  </ul>
</div>
