<div class="mb-3 col-2 mx-auto my-4 position-relative">
  <h4 class="text-center mb-4">Hero Search</h4>
  <input
    type="text"
    class="form-control"
    id="formGroupExampleInput"
    placeholder="Name"
    #searchBox
    (input)="search(searchBox.value)"
  />

  <ul
    class="list-group mt-4 position-absolute col-2 mx-auto shadow mb-5 bg-body rounded w-100"
  >
    <a
      *ngFor="let hero of heroes$ | async"
      routerLink="/heroes/{{ hero._id }}"
      class="text-decoration-none px-2 mb-3"
    >
      <li>
        <img
          class="avatar"
          src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/batman_hero_avatar_comics-512.png"
          alt=""
        />
        <a
          routerLink="/heroes/{{ hero._id }}"
          class="text-decoration-none w-100"
        >
          {{ hero.name | capitalize }}
        </a>
      </li>
    </a>
  </ul>
</div>
