html * {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}

.name_user {
  margin-right: 15px;
  font-weight: 700;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
