<h1>{{ title }}</h1>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid p-0">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active fs-5 fw-bold"
            aria-current="page"
            href="/"
            >Home</a
          >
        </li>
        
        <!-- <li class="nav-item">
          <a class="navbar-brand fw-bold fs-4" href="/">Home</a>
        </li> -->
        <li class="nav-item">
          <a
            class="nav-link active fs-5"
            aria-current="page"
            href="/heroes/dashboard"
            >Dashboard</a
          >
        </li>
        <div *ngIf="user">
          <li class="nav-item">
            <a
              class="nav-link active fs-5"
              href="/heroes/{{ user._id }}/my-heroes"
              >My Heroes</a
            >
          </li>
        </div>
      </ul>
    </div>

    <!-- <app-hero-search></app-hero-search> -->

    <div *ngIf="user; else doSomethingElse" class="d-flex align-items-center">
      <span class="name_user align-center"
        >User: {{ user.name || user.email }}</span
      >
      <a href="/user/{{ user._id }}">
        <button type="button" class="btn btn-success">Profile</button>
      </a>
      <button type="button" class="btn btn-primary" (click)="logout()">
        Logout
      </button>
    </div>
    <ng-template #doSomethingElse>
      <a href="/auth/login"
        ><button type="button" class="btn btn-primary">Login</button>
      </a>
      <a href="/auth/register"
        ><button type="button" class="btn btn-success">Register</button>
      </a>
    </ng-template>
  </div>
</nav>
