<h1>{{ title }}</h1>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid p-0">
    <a class="navbar-brand fw-bold fs-4" href="/">Home</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active fs-5" aria-current="page" href="/dashboard"
            >Dashboard</a
          >
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link active fs-5" href="/heroes">Heroes</a>
        </li> -->
        <div *ngIf="user">
          <li class="nav-item">
            <a
              class="nav-link active fs-5"
              href="/heroes/{{ user._id }}/my-heroes"
              >My Heroes</a
            >
          </li>
        </div>
      </ul>
    </div>
    <div *ngIf="user; else doSomethingElse">
      <span class="name_user">User: {{ user.name || user.email }}</span>
      <a href="/user/{{ user._id }}">
        <button type="button" class="btn btn-success">Profile</button>
      </a>
      <button type="button" class="btn btn-primary" (click)="logout()">
        Logout
      </button>
    </div>
    <ng-template #doSomethingElse>
      <a href="/login"
        ><button type="button" class="btn btn-primary">Login</button>
      </a>
      <a href="/register"
        ><button type="button" class="btn btn-success">Register</button>
      </a>
    </ng-template>
  </div>
</nav>
