<div
  *ngIf="hero"
  class="list-group col-4 mb-4 d-flex mx-auto shadow p-3 mb-5 bg-body rounded p-4"
>
  <div>
    <h2>{{ hero.name | uppercase }}</h2>
    <div><span>ID: </span>{{ hero._id }}</div>

    <div [formGroup]="form">
      <div class="my-2">
        <label for="hero-name" class="mb-2">Hero name</label>
        <input
          type="text"
          class="form-control"
          id="hero-name"
          placeholder="Name"
          formControlName="name"
        />
      </div>
      <div class="my-2">
        <label for="hero-gender" class="mb-2">Hero gender</label>
        <select class="form-select" aria-label="Default select example">
          <option value="" selected>Choose gender</option>
          <option value="0">Male</option>
          <option value="1">Female</option>
        </select>
      </div>
      <div class="my-2">
        <label for="hero-mail" class="mb-2">Hero mail</label>
        <input
          [class.is-invalid]="
            form.get('mail')?.invalid && form.get('mail')?.touched
          "
          type="email"
          class="form-control"
          formControlName="mail"
        />
      </div>
      <div *ngIf="mail?.invalid" class="alert alert-danger">
        Please enter a valid email
      </div>
      <div class="my-2">
        <label for="hero-age" class="mb-2">Hero age</label>
        <input
          type="number"
          class="form-control"
          id="hero-age"
          placeholder="Age"
          formControlName="age"
        />
      </div>
      <div class="my-2">
        <label for="hero-address" class="mb-2">Hero address</label>
        <input
          type="text"
          class="form-control"
          id="hero-address"
          placeholder="Address"
          formControlName="address"
        />
      </div>
    </div>
  </div>

  <h6>Hero tags (Enter example: "mytag")</h6>
  <tag-input
    [(ngModel)]="tags"
    (onSelect)="onSelect($any($event))"
    (onAdd)="onAdd($any($event))"
    [modelAsStrings]="true"
    #input
  >
    <ng-template item-template let-item="item" let-index="index" class="tags-wrap">
      <span class="tag" (click)="input.removeItem(item, index)">#{{ item }} x</span>
      <!-- <span
        (click)="input.removeItem(item, index)"
        class="ng2-tag__remove-button"
      >
        x
      </span> -->
    </ng-template>
  </tag-input>

  <div>
    <button type="button" (click)="goBack()" class="btn btn-primary">
      Go back
    </button>
    <button
      type="button"
      class="btn btn-danger mr-auto"
      (click)="deleteHero(hero._id)"
    >
      Delete Hero
    </button>
    <button
      type="button"
      (click)="updateHero()"
      [disabled]="mail?.invalid "
      class="btn btn-success"
    >
      Save
    </button>
  </div>
</div>
