<div
  *ngIf="hero && !loading"
  class="list-group col-4 mb-4 d-flex mx-auto shadow p-3 mb-5 bg-body rounded p-4"
>
  <div>
    <h2>{{ hero.name | uppercase }}</h2>
    <div><span>ID: </span>{{ hero._id }}</div>

    <div [formGroup]="form" class="mt-4">
      <div class="my-2 form-input">
        <label for="hero-name" class="mb-1">Name</label>
        <input
          type="text"
          class="form-control"
          id="hero-name"
          placeholder="Name"
          formControlName="name"
        />
      </div>
      <div class="my-2 form-input">
        <label for="hero-mail" class="mb-1">Email</label>
        <input
          [class.is-invalid]="mail?.invalid && mail?.touched"
          type="email"
          class="form-control"
          placeholder="Email"
          formControlName="mail"
        />
      </div>
      <div *ngIf="mail?.invalid" class="text-error">
        Please enter a valid email
      </div>
      <div class="my-2 form-input">
        <label for="hero-address" class="mb-1">Address</label>
        <input
          type="text"
          class="form-control"
          id="hero-address"
          placeholder="Address"
          formControlName="address"
        />
      </div>
      <div class="my-2 form-input">
        <label for="hero-age" class="mb-1">Age</label>
        <input
          [class.is-invalid]="age?.invalid && age?.touched"
          type="number"
          class="form-control"
          id="hero-age"
          placeholder="Age"
          formControlName="age"
        />
      </div>
      <div *ngIf="age?.invalid" class="text-error">
        Please enter a valid age
      </div>

      <label for="hero-gender" class="mb-1">Gender</label>
      <div class="input-group mb-3">
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="gender"
            id="gender"
            value="male"
            formControlName="gender"
          />
          <label class="form-check-label" for="inlineRadio1">Male</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="gender"
            id="gender"
            value="female"
            formControlName="gender"
          />
          <label class="form-check-label" for="inlineRadio2">Female</label>
        </div>
      </div>
    </div>
  </div>

  <h6>Tags (for example enter "mytag")</h6>
  <tag-input [(ngModel)]="tags" [modelAsStrings]="true" #input>
    <ng-template
      item-template
      let-item="item"
      let-index="index"
      class="tags-wrap"
    >
      <span class="tag" (click)="input.removeItem(item, index)"
        >#{{ item }} x</span
      >
    </ng-template>
  </tag-input>

  <div class="mt-4">
    <button type="button" (click)="goBack()" class="btn btn-secondary">
      Go back
    </button>
    <button
      type="button"
      class="btn btn-light mr-auto"
      (click)="deleteHero(hero._id)"
    >
      Delete Hero
    </button>
    <button
      type="button"
      (click)="updateHero()"
      [disabled]="mail?.invalid || age?.invalid || name?.invalid"
      class="btn btn-primary save-btn"
    >
      Save
    </button>
  </div>
</div>

<app-loading [loading]="loading"></app-loading>
