<div *ngIf="user" class="mx-auto">
  <div
    class="list-group col-4 mb-4 d-flex mx-auto shadow p-3 mb-5 bg-body rounded p-4"
  >
    <h2>{{ user.name | uppercase }}</h2>
    <div><span>ID: </span>{{ user._id }}</div>

    <h5 class="text-uppercase mt-5">Information</h5>

    <div [formGroup]="form">
      <div class="input-group mb-4 mt-2">
        <span class="input-group-text">Email</span>
        <input type="text" class="form-control" formControlName="email" />
      </div>
      <div class="input-group my-4">
        <span class="input-group-text">Name</span>
        <input type="text" class="form-control" formControlName="name" />
      </div>
      <div *ngIf="email?.invalid" class="alert alert-danger">
        Please enter a valid email
      </div>
    </div>

    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">
      {{ error }}
    </div>

    <div>
      <button type="button" (click)="goBack()" class="btn btn-primary mb-0">
        Go back
      </button>
      <button
        *ngIf="email?.valid && form.dirty"
        type="button"
        (click)="updateUser()"
        [disabled]="email?.invalid || !form.dirty"
        class="btn btn-success mb-0"
      >
        Save
      </button>
    </div>
  </div>
</div>

<!-- <app-loading loading="loading"></app-loading> -->