<h2 class="text-center">All Heroes</h2>

<app-hero-form [heroes]="heroes"></app-hero-form>

<ul class="list-group col-3 mb-4 d-flex mx-auto">
  <div class="form-check">
    <li
      *ngFor="let hero of heroes"
      class="list-group-item d-flex justify-content-between"
    >
      <!-- <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="flexCheckDefault"
      /> -->
      <a
        routerLink="/detail/{{ hero._id }}"
        class="text-decoration-none flex-row"
        for="flexCheckChecked"
      >
        <span class="mt-4 d-flex">{{ hero.name | capitalize }}</span>
      </a>
      <button
        type="button"
        class="btn btn-danger mr-auto"
        (click)="deleteHero(hero._id)"
      >
        X
      </button>
    </li>
  </div>
</ul>

<div *ngIf="heroes.length === 0" class="text-center">
  <h4>Loading...</h4>
</div>
